/* Enter your custom styles here */
.venUiInput.sapMInput.sapMInputBaseReadonly {
  margin: 0;
}
.venUiInput.sapMInput.sapMInputBaseReadonly .sapMInputBaseContentWrapper.sapMInputBaseReadonlyWrapper {
  border-color: transparent;
  background-color: transparent;
}
